<%= simple_form_for(@contact) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <% @company.contact_attrs.each do |attr| %>
          <%= f.input attr.name, as: attr.type %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
