<!-- perhaps the list of nav items could change in the future based on role/subscription? -->

<ul class="nav nav-pills nav-stacked">
  <li><a href="#"><%= image_tag "home_32x32.png" %>Home</a></li>
  <li><a href="#"><%= image_tag "user_24x32.png" %>Contacts</a></li>
  <li><a href="#"><%= image_tag "chat_32x32.png" %>Groups</a></li>
  <li><a href="#"><%= image_tag "calendar_alt_fill_32x32.png" %>Calendar</a></li>
  <li><a href="#"><%= image_tag "box_32x32.png" %>Deals</a></li>
  <li><a href="#"><%= image_tag "document_alt_stroke_24x32.png" %>Reports</a></li>
  <li><a href="#"><%= image_tag "book_alt2_32x28.png" %>Library</a></li>
</ul>